<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Listagem de Arquivos de Project</div>
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>description</th>
                                <th>Link</th>
                                <th>Ação</th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="o in projectFiles">
                                <td>{{o.name}}</td>
                                <td>{{o.description | limitTo: 25}}...</td>
                                <td>
                                    <project-file-download id-file="{{o.id}}"></project-file-download>
                                </td>

                                <td>
                                    <a ng-href="#project/{{o.project_id}}/files/{{o.id}}/edit" class="btn btn-info btn-sm">
                                        Editar
                                    </a>
                                    <a ng-href="#project/{{o.project_id}}/files/{{o.id}}/remove" class="btn btn-danger btn-sm">
                                        Excluir
                                    </a>
                                </td>
                            </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>